<div>
    <button class="btn btn-outline-danger me-3" (click)="get400Error()">Error 400</button>
    <button class="btn btn-outline-danger me-3" (click)="get401Error()">Error 401</button>
    <button class="btn btn-outline-danger me-3" (click)="get404Error()">Error 404</button>
    <button class="btn btn-outline-danger me-3" (click)="get500Error()">Error 500</button>
    <button class="btn btn-outline-danger me-3" (click)="get404ValidationError()">Error 404 Validation</button>

    @if (validationErrors.length > 0) {
        <div class="row mt-5">
            <ul class="text-danger">
                @for (item of validationErrors; track $index) {
                    <li>{{item}}</li>
                }
            </ul>
        </div>
    }
</div>